@import '@skeletonlabs/skeleton/themes/theme-skeleton.css';
@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind variants;
@import '@skeletonlabs/skeleton/dist/styles/partials/core.css';
@import '@skeletonlabs/skeleton/dist/styles/partials/typography-next.css';
@import '@skeletonlabs/skeleton/dist/styles/partials/elements.css';
@import '@skeletonlabs/skeleton/dist/styles/partials/variants.css';

html,
body {
	color: white;

	@apply h-full overflow-hidden;
}

body {
	@apply bg-surface-50-900-token;
}
